body {
    margin: 0;
}

header {
    background: #DEF1FC;
    display: flex;
}

nav {
    display: flex;
    gap: 15px;
}

#home-button {
    position: relative;
}

#home-button img {
    display: inline-block;
    float: left;
} 
#home-button h1 {
    display: inline-block;
    float: left;
} 